@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.marker {
    font-family: 'Permanent Marker', cursive;
}

.holder {
    position: relative;
    width: 300px;
    height: 50px;
}
.clip {
    /* Clip edges, as some of the lines don't terminate nicely. */
    overflow: hidden;
}

.line {
    position: absolute;
    width: 600px;
    /* Height set to clip correctly basically background-size/2 + line width */
    height: 26px;
}
.line1 {
    background: linear-gradient(45deg, transparent, transparent 49%, red 49%, transparent 51%);
}
.line2 {
    background: linear-gradient(-45deg, transparent, transparent 49%, red 49%, transparent 51%);
}
.line {
    /* Must be after background definition. */
    background-size: 50px 50px;
}


.smallLine {
    position: absolute;
    height: 10px;
    width: 200%;
    transform: translate(-25%) scale(0.5)
}

.smallLine1 {
    background: linear-gradient(45deg, transparent, transparent 49%, red 49%, transparent 51%);
}
.smallLine2 {
    background: linear-gradient(-45deg, transparent, transparent 49%, red 49%, transparent 51%);
}

.smallLine {
    background-size: 20px 20px;
}


.tinyLine {
    position: absolute;
    /* Cuts off the bottom half of the pattern */
    height: 20px;
    /* For better cross browser consistency, make it larger with width.  */
    width: 1000%;
    /* And then scale it back down with scale, recentering with translateX. */
    transform: translateX(-45%) scale(0.1);
}

.tinyLine1 {
    background: linear-gradient(45deg, transparent, transparent 49%, red 49%, transparent 51%);
}
.tinyLine2 {
    background: linear-gradient(-45deg, transparent, transparent 49%, red 49%, transparent 51%);

}

.tinyLine {
    /* Must be after background definition. */
    background-size: 40px 40px;
}


.circle {
    position: absolute;
    width: 600px;
    height: 20px;
    background: radial-gradient(16px, transparent, transparent 4px, white 4px, white 10px, transparent 11px);
    background-size: 30px 40px;
}

.circle2 {
    /* Offset to make squigglies line up */
    top: 20px;
    left: 15px;
    background-position: 0px -20px;
}


.ellipse {
    position: absolute;
    background: radial-gradient(ellipse, transparent, transparent 7px, white 7px, white 10px, transparent 11px);
    background-size: 36px 40px;
    width: 600px;
    height: 20px;
}

.ellipse2 {
    top: 20px;
    left: 18px;
    background-position: 0px -20px;
}

/* Knockout text within a dark area */
.multiply {
    color: white;
    mix-blend-mode: multiply;
    background-color: rgb(59, 2, 6);
  }
  
  /* Knockout text within a bright area */
  .screen {
    color: black;
    mix-blend-mode: screen;
    background-color: rgb(241, 227, 255);
  }
  
  /* Knockout text within a dark area that's less detailed */
  .darken {
    color: white;
    mix-blend-mode: darken;
    background-color: rgb(59, 2, 6);
  }
  
  /* Knockout text within a light area that's less detailed */
  .lighten {
    color: black;
    mix-blend-mode: lighten;
    background-color: rgb(244, 220, 211);
  }