<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titleComputed }}</title>
     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
     <script src="/assets/main.js"></script>
     <script src="/js/alpine.js?v=2.8.1"></script>
  </head>
  <body>
    {% include "../components/navigation.njk" %}
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
