<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titleComputed }}</title>
    <meta name="description" content="{{ description }}"/>
    <link rel='shortcut icon' type='image/x-icon' href='/image/favicon.ico' />
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115763029-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115763029-1');
    </script>
     <script src="/assets/main.js"></script>
     <script src="/js/alpine.js?v=2.8.1"></script>
  </head>
  <body>
    {% include "../components/navigation.njk" %}
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
