---
layout: layouts/base.njk
---
<div class="relative py-16 bg-white overflow-hidden">
  <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
    <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
      <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
      </svg>
      <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>
      <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
      </svg>
    </div>
  </div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto flex flex-col items-center">
      <h1>
        <span class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">{{field_patternSrc}}</span>
        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{ title | safe }}</span>
      </h1>
      {% if field_gif == "1" %}
        {# <div class="mt-10" style='position:relative; padding-bottom:calc(61.68% + 44px)'><iframe src='https://gfycat.com/ifr/{{field_gfycatSource}}' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div> #}
        <iframe class="mt-10" src='https://gfycat.com/ifr/{{field_gfycatSource}}' frameborder='0' scrolling='no' allowfullscreen width='640' height='649'></iframe>
      {% elif field_gif == "0" %}
      {% set path = field_imagePathRaw | getPath %}
        <div class="mt-10"><img src="https://waveguide.gumlet.io/{{path}}?w=&h=700" alt=""></div>
      {% endif %}
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
      <h2>✋ What is it?</h2>
      {{field_what | safe}}
      <h2>🤲 How does this interaction or solution work?</h2>
      {{field_howWorks | safe}}
      <h2>🙌 How does this interaction or solution work?</h2>
      {{field_howHelps | safe}}
    </div>
  </div>
</div>