---
title: You Should Get In Touch
layout: layouts/base.njk
permalink: /get-in-touch/
eleventyNavigation:
  key: Get In Touch
  order: 1
---
<!-This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-indigo-800">
  <div class="absolute inset-0">
    <img class="w-full h-full object-cover" src="/image/me.JPG" alt="">
    <div class="absolute inset-0 bg-purple-800" style="mix-blend-mode: multiply;" aria-hidden="true"></div>
  </div>
  <div class="relative max-w-7xl mx-auto pt-24 px-4 sm:pt-32 sm:px-6 lg:px-8 pb-12">
    <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl">👋 Hi! My name is Juan (a.k.a JJ)</h1>
    <div class="mt-6 text-xl text-indigo-100 max-w-3xl">
      <p>
        I'm a <a class="underline" href="https://www.linkedin.com/in/juanjramirez/" target="_blank">seasoned Product Designer</a> who loves to <a class="underline" href="https://www.whoisjuan.me" target="_blank">design, code and hack</a> together cool software products! I'm also the creator of
        <span class="marker text-2xl">Waveguide!</span><br><br>
        If this is the first time you visit Waveguide you may be surprised to learn that this website used to be way larger and had a lot more resources than it does now.
      </p>
      <br>
      <h2 class="text-4xl text-indigo-100 marker max-w-3xl">This is the gist of what happened 😅</h2>
      <br>
      <div class="holder clip">
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
      </div>

      <p class="text-xl text-indigo-100 max-w-3xl mb-3">
        I created Waveguide as a design inspiration and research hub. Before shutting it down it had:<br><br>
        <span class="marker text-3xl">+6000 registered users
          <br>
          +20k monthly views
          <br>
          +10k landing pages screenshots
          <br>
          +500 mobile screenshots
          <br>
          +100 of entries in UX knowledge</span>
        <br><br>
        Every resource was augmented with color palettes, categorizations, reading insights and many other cool stuff that was automatically generated through a pipeline of serverless Machine Learning functions.
        <br><br>
        I invested a lot of time and money into Waveguide, but it never felt like I was in a trajectory to achieve the level of content quality and quantity that could have allowed me to monetize the website.
        <br><br>
        So I shut it down because I lost motivation and got tired of spending money on it. I only kept this static version that contains my favorite content.
      </p>
    </div>
    <div class="holder clip">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
    </div>
    <h2 class="text-4xl text-indigo-100 mt-3 marker max-w-3xl">You may be wondering: Why is he telling me all this stuff? 🤔</h2>
    <br><br>
    <div class="text-4xl font-semibold bg-indigo-100 max-w-3xl rounded-xl p-6 screen">Well, the reason is quite simple.<br>
      <span class="font-extrabold">I want like-minded people to get in touch with me! 📬</span></div>
    <p class="mt-6 text-xl text-indigo-100 max-w-3xl">I was exhausted with Waveguide, but I'm eager to explore new ideas! So I saw this downscale as an opportunity to connect with interesting people by showing how I think and what I can do!</p>
    <br>
    <p class="text-2xl font-semibold  text-indigo-100 max-w-3xl">So if you think we have something we should talk about, you should totally reach out!</p>
    <br>
    <p class="mt-6 text-xl text-indigo-100 max-w-3xl">Here is a non-comprehensive list of things that I'm interested in:</p>
  </p>
  <ul class="ml-7 mt-6 text-lg text-indigo-100 max-w-3xl list-disc list-outside">
    <li>
      <span class="text-xl font-semibold">👨‍💻 Side Project Opportunities</span>
      <br>
      I have a <a class="underline" href="" target="_blank">cool side project</a> and I'm interested in exploring other opportunities or exploring partnerships.</li>
    <br>
    <li>
      <span class="text-xl font-semibold ">🚀 Startup Co-Founding Opportunities</span>
      <br>
      I can code, I can design and I have good notions of how to run a business. I'm just waiting for the right time and the right partner.</li>
    <br>
    <li>
      <span class="text-xl font-semibold">👔 Job Opportunities</span>
      <br>
      I have never not considered an opportunity that came through a thoughtful and well-crafted message! If you really believe I could add value, please reach out!</li>
    <br>
    <li>
      <span class="text-xl font-semibold">💡 Ad-Hoc Design Help</span>
      <br>
      If you're an entrepreneur or a Jr. Designer with a design problem, I can give you some ideas or pointers to solve it. If you catch me in a good mood I could throw a quick mock for you!</li>
    <br>
    <li>
      <span class="text-xl font-semibold">🔮 Ad-Hoc Career Advice</span>
      <br>
      If you're an aspiring tech professional I can always give you a thought or two on your situation. I can't promise to reply back but I will try my best to do so!</li>
    <br>
    <li>
      <span class="text-xl font-semibold">😇 Angel Investment Opportunities</span>
      <br>
      I'm always open to invest in good ideas that feel right. I can write checks between $5k and $10k.</li>
    <br>
    <li>
      <span class="text-xl font-semibold">👋 Saying Hi!</span>
      <br>
      If you just want to say hi, please do! I deeply appreaciate when people just want to spread their joy by greeting others.</li>
    <br>
  </ul>
</div>
</div>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-50">
<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
  <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
    <span class="block">Ready to get in touch!?
    </span>
    <span class="block text-purple-700 marker">Send me a message via Email or Messenger</span>
  </h2>
  <div x-data="{email: 'jjramirez.u@gmail.com', message: 'Copy Email Address'}" class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
    <button @click="$clipboard(email); message = 'Email Address Copied'" type="button" class="mr-6 inline-flex items-center px-6 py-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-gradient-to-bl from-purple-700 to-purple-500  hover:bg-purple-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <svg class="-ml-1 mr-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
      </svg>
      <span x-text="message"></span>
    </button>
    <a href="https://www.messenger.com/t/whoisjuan" target="_blank" type="button" class="inline-flex items-center px-6 py-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-gradient-to-tr from-pink-700 to-pink-500 hover:bg-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <svg class="-ml-1 mr-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" aria-hidden="true"><path d="M12 0c-6.627 0-12 4.975-12 11.111 0 3.497 1.745 6.616 4.472 8.652v4.237l4.086-2.242c1.09.301 2.246.464 3.442.464 6.627 0 12-4.974 12-11.111 0-6.136-5.373-11.111-12-11.111zm1.193 14.963l-3.056-3.259-5.963 3.259 6.559-6.963 3.13 3.259 5.889-3.259-6.559 6.963z"/></svg>
      Chat in Messenger
    </a>
  </div>
</div>
</div>