---
title: About the Creator
layout: layouts/base.njk
permalink: /about/
eleventyNavigation:
  key: About the Creator
  order: 1
---
<!-This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-indigo-800">
  <div class="absolute inset-0">
    <img class="w-full h-full object-cover" src="/image/me.JPG" alt="">
    <div class="absolute inset-0 bg-purple-800" style="mix-blend-mode: multiply;" aria-hidden="true"></div>
  </div>
  <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl">👋 Hi! My name is Juan (a.k.a JJ)</h1>
    <p class="mt-6 text-xl text-indigo-100 max-w-3xl">
      I'm a seasoned Product Designer / Product Hacker (but maybe my CV tells a better story)... I'm also the creator of Waveguide!<br><br> If this is the first time you visit Waveguide you may be surprised to learn that this website used be way larger and had a lot more resources than it does now.
      <br><br>
      <span class="text-2xl">This is the gist of what happened 👇</span>  
      <br>
      <br>
      <span>
        I created Waveguide as a design hub that had a lot of patterns, references and examples of design. It had +6000 registered users, +20k monthly views, +10k
        landing pages screenshots, hundreds of mobile screenshots and many other resources... <br>
        Every resource was augmented with color palettes, categorizations, reading insights and many other cool stuff that was automatically generated a pipeline of Machine Learning functions.
      <br><br>
      I feel like I created something useful with Waveguide, but it never felt like I would achieve the level of content quality that could have allow me to monetize the website.
      <br><br>
      So I shut it down because I lost motivation and honestly because it wasn't cheap to run and I'm a frugal person.
      <br>
      I only kept this static version that contains my favorite content.
      </span>
      <br><br>
      <span class="text-2xl">You may be wondering: Why is he telling me all this stuff? 🤔</span>
      <br><br>
      <span class="text-4xl font-semibold">Well, the reason is quite simple.<br> I want like-minded people to reach out to me!</span> 
      <br><br>Shutting down Waveguide wasn't easy because I love building things! But I saw this downscale as an opportunity to connect with interesting people by showing them how I think and what I can do.
      <br><br>
      <span class="text-xl font-semibold">So if you think you have something that I could help with, something that we should build together or something we should talk about, you should totally reach out!</span>
      <br><br>
      Here is a non-comprehensive list of things that I'm interested in and that I would be stoked to learn about:
      </p>
      <ul class="ml-7 mt-6 text-lg text-indigo-100 max-w-3xl list-disc list-outside">
      <li><span class="text-xl font-semibold">Side Project Opportunities</span>
      <br>
      I own one and would be interested in exploring other opportunities or exploring partnerships.</li>
      <br>
      <li><span class="text-xl font-semibold">Startup Co-Founding Opportunities</span>
      <br>
      I can code, I can design and I have good notions of how to run a business. I'm just waiting for the right time and the right partner.</li>
      <br>
      <li><span class="text-xl font-semibold">Exciting Job Opportunities!</span>
      <br>
      I have never not considered an opportunity that came through a thoughtful and well-crafted message! If you really believe I could add value, please reach out!</li>
      <br>
      <li><span class="text-xl font-semibold">Ad-Hoc Design Help</span>
      <br>
      If you're an entrepreneur or a Jr. Designer with a design problem, I can give you some ideas or pointers to solve it. If you catch me in a good mood I could throw a quick mock for you!</li>
      <br>
      <li><span class="text-xl font-semibold">Ad-Hoc Career Mentorships</span>
      <br>
      If you're an aspiring tech professional I can always give you a thought or two on your situation. I can't promise to reply back but I will try my best to do so!</li>
      <br>
      <li><span class="text-xl font-semibold">Angel Investment Opportunities</span>
      <br>
      I'm always open to invest in good ideas that feel right. I can write checks between $5k and $10k.</li>
      <br>
      <li><span class="text-xl font-semibold">Saying Hi!</span>
      <br>
      If you just want to say hi, please do! I deeply appreaciate when people just want to spread their joy by greeting others.</li>
      <br>
      </ul>
      <p class="mt-8 text-xl text-indigo-100 max-w-3xl">
      Here is a non-comprehensive list of things that I'm <strong>NOT</strong> interested in and that I would probably just ignore:
      <ul class="ml-7 mt-6 text-xl text-indigo-100 max-w-3xl list-disc list-outside">
      <li><span class="text-xl font-semibold">SPAM</span>
      <br>
      If it feels a little bit like spam is probably spam. But I don't blame you for trying.</li>
      </ul>
      </p>
  </div>
</div>