---
title: Home
layout: layouts/base.njk
permalink: /
eleventyNavigation:
  key: Home
  order: 0
---
{% set postslist = collections.posts %}
<div x-data="{selectedPlatform: 'All'}" class="relative bg-white pt-5 pb-20 px-4 sm:px-6 lg:pt-5 lg:pb-28 lg:px-8">
  <div class="relative max-w-7xl mx-auto">
    <div class="text-center flex flex-col items-center">
      <img class="h-80 mb-10" src="/image/tophero-large.png" alt="">
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
        User Experience Design in the Wild
      </h2>
      <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">
        Waveguide is a project by
        <a class="underline" href="https://www.whoisjuan.me">JJ. Ramirez</a>
        that documents UX examples in different platforms and contexts. It was created as a repository that collects remarkable user experience design execution in production software and real-life interaction scenarios.
      </p>
    </div>
    <div class="mt-10 flex justify-center">
      <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select a tab</label>
        <select id="tabs" name="tabs" class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
          <option>All</option>
          <option>iOS</option>
          <option selected="selected">Android</option>
          <option>Others</option>
        </select>
      </div>
      <div class="hidden sm:block">
        <nav class="flex space-x-4" aria-label="Tabs">
          <a @click.prevent="selectedPlatform = 'All'" href="#" :class="{'bg-gray-200 text-gray-800': selectedPlatform === 'All', 'text-gray-600 hover:text-gray-800': selectedPlatform != 'All'}" class="px-3 py-2 font-medium text-sm rounded-md">
            All
          </a>
          <a @click.prevent="selectedPlatform = 'iOS'" href="#" :class="{'bg-gray-200 text-gray-800': selectedPlatform === 'iOS', 'text-gray-600 hover:text-gray-800': selectedPlatform != 'iOS'}" class="px-3 py-2 font-medium text-sm rounded-md">
            iOS
          </a>
          <!-- Current: "bg-gray-200 text-gray-800", Default: "text-gray-600 hover:text-gray-800" -->
          <a @click.prevent="selectedPlatform = 'Android'" href="#" :class="{'bg-gray-200 text-gray-800': selectedPlatform === 'Android', 'text-gray-600 hover:text-gray-800': selectedPlatform != 'Android'}" class="px-3 py-2 font-medium text-sm rounded-md">
            Android
          <a @click.prevent="selectedPlatform = 'Else'" href="#" :class="{'bg-gray-200 text-gray-800': selectedPlatform === 'Else', 'text-gray-600 hover:text-gray-800': selectedPlatform != 'Else'}" class="px-3 py-2 font-medium text-sm rounded-md">
            Others
          </a>
        </nav>
      </div>
    </div>
    <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
      {% include "components/postslist.njk" %}
    </div>
  </div>
</div>
<p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4 text-center">
  That's a wrap! If you Waveguide's content, consider subscribing to Design Vector Newsletter.
</p>