---
title: Home
layout: layouts/base.njk
permalink: /
eleventyNavigation:
  key: Home
  order: 0
---
{% set postslist = collections.posts %}
<img class="object-fill w-auto mb-10" src="/image/tophero-large.png" alt="">
<div x-data="{selectedPlatform: 'All', selectedCategory: 'All', dropdownOpen: false}" class="relative bg-white pt-5 pb-20 px-12 sm:px-12 lg:pt-5 lg:pb-28 lg:px-40">
  <div class="relative mx-auto">
    <div class="text-center flex flex-col items-center">
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
        User Experience Design in the Wild
      </h2>
      <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">
        Waveguide is a project by
        <a class="underline" href="https://www.whoisjuan.me">JJ. Ramirez</a>
        that documents UX examples in different platforms and contexts. It was created as a repository that collects remarkable user experience design execution in production software and real-life interaction scenarios.
      </p>
    </div>
    <div class="flex items-center justify-center">
      {% include "components/platformpicker.njk" %}
      {% include "components/categorypicker.njk" %}
    </div>
    <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
      {% include "components/postslist.njk" %}
    </div>
  </div>
</div>
<p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4 text-center">
  That's a wrap! If you Waveguide's content, consider subscribing to Design Vector Newsletter.
</p>